.sidebar {
  width: 20%;
  height: 100vh;
  position: absolute;
  left: 0;
  background: #1f3251;
  .navigation-link {
    padding: 14px 25px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
    cursor: pointer;
    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      width: 100%;
      outline: none;
      text-align: left;
      font-style: normal;
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: -0.02em;
      color: #ffffff;
      margin-left: 15px;
    }
    &.active {
      background: #273a59;
      transition: all ease 0.3s;
      svg {
        path {
          fill: #ffc107;
        }
      }
    }
  }
}
